.blogCard {
  border: 1px solid #272727bf;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  background-color: #f0f0ff;
  align-items: center;
  width: 800px;
}

.blogCard h1 {
  font-size: 28px;
  font-weight: 600;
}

.blogCard img {
  border: 1px solid #272727bf;
  border-radius: 15px;
}

.blogCard img:hover {
  box-shadow: 2px 2px 0px 0px #333;
}

.blogTag {
  color: #272727bf;
  display: inline-block;
  padding: 6px 15px;
  line-height: 1.2;
  margin-right: 10px;
  border: 1px solid #272727bf;
  border-radius: 25px;
}

.blogHeader {
  display: flex;
  gap: 30px;
  align-items: center;
}

.blogCardFooter {
  display: flex;
  gap: 20px;
}

.blogCardButton {
  border: 1px solid #272727bf;
  box-shadow: 2px 2px 0px 0px #333;
  font-size: 15px;
  padding: 5px 25px;
  z-index: 2;
  border-radius: 25px;
  align-items: center;
  font-weight: 700;
}

.blogCardButton:hover {
  box-shadow: none;
}

.blogCardRight {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50ch;
}

.blogDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.blogDescription figure,
.blogDescription image {
  display: none;
}
@media (max-width: 768px) {
  .blogCard {
    display: block;
    width: 300px;
    overflow: hidden;
  }
  .blogTime {
    display: none;
  }
}