.homePage {
 display: flex;
 justify-content: center;
 gap: 30px;
}
.blogCards {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.homepageRight {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

